{% extends 'header.html' %}

{% block mycontent %}

<div class="container">
  <div class="row">
          <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
          <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
              <table class="table table-striped">
                <thead class="table-dark">
                  <tr>
                    <th>Name</th>
                    <th>Mobilenumber</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>AdharNo</th>
                    <th>Trainingtype</th>
                  </tr>
                </thead>

                <tbody>
                  {% for i in data %}
                <tr>
                  <td>{{i.name}}</td>
                  <td>{{i.mobilenumber}}</td>
                  <td>{{i.email}}</td>
                  <td>{{i.date}}</td>
                  <td>{{i.adharno}}</td>
                  <td>{{i.trainingtype}}</td>

                </tr>  
                   {% endfor %}
                </tbody>
          
          </table>
          </div>
          <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
  </div>
</div>

    
{% endblock %}