<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Sellername</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" class="form-control"></td>
        </tr>
        <tr>
            <td>Phonenumber</td>
            <td><input type="number" class="form-control"></td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td><input type="date" class="form-control"></td>
        </tr>
        <tr>
            <td>District</td>
            <td><select class="form-control" name="" id="">
                <option value="Kadapa">Kadapa</option>
                <option value="Anatapur">Anatapur</option>
                <option value="Chitoor">Chitoor</option>
            </select></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" class="form-control"></td>
        </tr>
        <tr>
            <td>Adhar</td>
            <td><input type="number" class="form-control"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-info">Submit</button></td>
        </tr>
    </table>
</body>
</html>