<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Productname</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Product details</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Seller name</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Manufracturer name</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Manufracturing date</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>Expiry date</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Brands</td>
            <td><select  class="form-control" name="" id="">
                <option value="Britania">Britania</option>
                <option value="Parle">Parle</option>
                <option value="Nestle">Nestle</option>
            </select></td>
        </tr>
        

        <tr>
            <td></td>
            <td><button class="btn btn-info">Submit</button></td>
        </tr>
    </table>
</body>
</html>